/* Reset CSS starts here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.3;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    display: inline-block;
    outline: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

textarea {
    resize: vertical;
}

/* Reset css ends here */

/* General styles start here */

body {
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1a1a1d;
}

.container {
    width: 94%;
    margin: 0 auto;
}

/* Font family styles start here */

.poppins {
    font-family: 'Poppins', sans-serif;;
}

/* Heading styles start here */

h1 {
    font-size: 101px;
}

/* Heading styles end here */

/* Font family styles end here */

/* Flex styles start here */

.flex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.flexColoumn {
    flex-direction: column;
}

.alignItemCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.flexEnd {
    justify-content: flex-end;
}

/* Flex styles end here */

/* Background color styles start here*/

.greenBg {
    background-color: #deebeb;
}

.whiteBg {
    background-color: #ffffff;
}
/* Background color styles end here */

/* Text alignment styles start here */

.txtLeft {
    text-align: left;
}

.txtCenter {
    text-align: center;
}

.txtRight {
    text-align: right;
}

/* Text alignment styles end here */

/* Border styles start here */

.borderNone {
    border: none;
}
/* Border styles end here */

/* Input/button styles start here */

.inputMd {
    padding: 15px 25px;
}

/* Input/button styles start here */

/* Font weight styles start here */

.medium {
    font-weight: 500;
}

.extraBold {
    font-weight: 800;
}

/* Font weight styles end here */

/* Font size styles start here */

.txtXs {
    font-size: 12px;
}

.txtMd {
    font-size: 16px;
}

/* Font size styles end here */

/* Text color styles start here */

.colorDark {
    color: #1a1a1d;
}

/* Text color styles end here */

/* Text transform styles start here */

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Text transform styles end here */

.transition {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition:  0.3s ease-out;
    transition: 0.3s ease-out;
}

.inlineBlock {
    display: inline-block;
}

/* General styles end here */

/* Header styles start here */

.headerLeft {
    width: 60%;
    padding-left: 60px;
}

.headerRight {
    width: 40%;
}

.headerLeft, .headerRight {
    padding: 67px 60px 0 60px;
}

nav li {
    display: inline-block;
    padding-right: 30px;
}

nav li a:hover, .nav i:hover, .socialIcons ul li a:hover {
    color: 	#717d87;
}

.nav i {
    cursor: pointer;
    padding-right: 50px;
}

.search {
    border-left: 1px solid #b4d3d3;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

/* Header styles end here */

/* Talent section styles start here */

.talentLeft {
    width: 60%;
}

.talentRight {
    width: 40%;
}

.talentRight, .talentLeft {
    padding: 203px 63px 270px 63px;
}

.socialIcons {
    width: 21%;
}

.talentInfo {
    width: 79%;
    padding-left: 145px;
}

.socialIcons ul li {
    padding-bottom: 40px;
}

.socialIcons ul li a {
    color: #1a1a1d;
}

.vLine {
    border-left: 3px solid;
    height: 15%;
}

.index {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 20px;
}

.talentImage img {
    width: 100%;
}

.talentImage a:hover {
    opacity: 0.8;
}


/* Talent section styles end here */